.clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

body {
    background: #FDF5EA url("../images/background.png");
    font-family: Verdana, Sans-serif;
    color: #333333;
}

h1 {
    font-size: 18px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* @TODO: add classes: error and info */
#flash-message {
    position: absolute;
    /*top: 8px;*/
    /*left: 280px;*/
    padding: 5px;
    display: none;
}

#flash-message.info {
    color: #C09853;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
}

#flash-message.error {
    color: #c01711;
    background-color: #fcd3db;
    border: 1px solid #fb879b;
}

#wrapper {
    background-color: #FFF;
    padding: 5px;
    width: 600px;
    box-shadow: 5px 5px 5px #888888;
}

#logo {
    margin: 0;
}

#menu {
    display: block;
    /*padding-left: 15px;*/
}

#menu li {
    float: left;
    list-style: none;
    background-color: #B7AF9C;
    border: 1px solid #000;
    margin-right: 5px;
}

#menu li a {
    cursor: pointer;
    display: block;
    background-color: #807A60;
    padding: 7px 15px;
    margin: 1px;
    color: #EDE8D4;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#menu li a.active {
    /*background-color: #B7AF9C;*/
}

#page-content {
    width: 585px;
    border: solid 1px #EADDBB;
    margin: 5px 0 15px 0;
    padding: 5px 5px 5px 5px;
    background-color: #f3eeda;
}

#loader {
    margin: 30px 0 30px 269px;
}

.page-title {
    color: #807A60;
    font-size: 20px;
}

#recent-cues {
    list-style: none inside url('../images/download.png');
    margin: 10px 0 0 0;
}

#recent-cues li {
    font-size: 12px;
    margin-bottom: 5px;
}

#recent-cues a {
    color: #AAA488;
}

#recent-cues a:hover {
    color: #807A60;
}

#recent-cues span.delete {
    color: #AAA488;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

#recent-cues span.delete:hover {
    color: #807A60;
}

#categories-navigation {
    margin: 10px 0 0 10px;
}

#categories-navigation li {
    float: left;
    list-style: none;
    margin-right: 2px;
}

#categories-navigation li a {
    color: #807A60;
    font-size: 14px;
    font-weight: bold;
}

#categories-navigation li a:hover {
    color: #AAA488;
}

#top-controls-container {
    /*width: 568px;*/
    margin-top: 10px;
    border: solid 1px #EADDBB;
    padding: 5px 5px 5px 10px;
    background-color: #f7f7ef;
}

/*.fixed-to-top {*/
/*position: fixed;*/
/*top: 0;*/
/*}*/

.controls-container {
    margin-top: 10px;
}

.controls-container button {
    float: right;
    margin: 0;
    border: 1px solid #306C90;
    padding: 3px 6px;
}

.letter-container {
    margin-top: 10px;
    border: solid 1px #EADDBB;
    padding: 5px 5px 5px 10px;
    background-color: #f7f7ef;
}

.letter-container .letter {
    font-size: 14px;
    font-weight: bold;
}

.letter-container .categories-list {
    padding: 10px 0 0 0;
    -webkit-column-count: 3;
    column-count: 3;
}

.letter-container .categories-list label {
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 5px;
    color: #807A60;
    font-size: 11px;
    font-weight: bold;
}

.letter-container .categories-list label input {
    margin-left: -15px;
    vertical-align: middle;
    float: left;
}

.letter-container .categories-list label i {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    color: #333333;
}
